In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../Resources/cities.csv",index_col="City ID")
df.to_html("cities.html")
df

,City ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Date
0,0,tikapur,NP,28.50,81.13,78.01,95,0,3.00,1602856784
1,1,kavieng,PG,-2.57,150.80,82.04,77,97,12.53,1602856855
2,2,busselton,AU,-33.65,115.33,55.99,51,0,14.12,1602856857
3,3,launceston,AU,-41.45,147.17,44.60,70,90,1.12,1602856592
4,4,lebu,CL,-37.62,-73.65,58.48,70,0,3.96,1602856859
...,...,...,...,...,...,...,...,...,...,...
591,591,itoman,JP,26.12,127.67,78.80,65,75,9.17,1602857567
592,592,kiunga,PG,-6.12,141.29,73.26,97,100,2.73,1602857568
593,593,verkhnyaya maksakovka,RU,61.63,50.97,32.00,97,75,6.71,1602857569
594,594,akcaabat,TR,41.02,39.57,71.60,83,1,4.70,1602857570
595,595,lasa,IT,46.62,10.70,59.00,80,40,8.05,1602857571